.sai{
	border:1px solid black;
	width:370px;
	height:355px;
	 
}
.sai1{
	border:2px solid black;
	width:340px;
	height:30px;
	margin-left:10px;
	margin-top:10px;
	
	 
}
.sai2{
	border:2px solid black;
	width:80px;
	height:80px;
	margin-left:10px;
	margin-top:10px;
}	 
.sai3{
	border:2px solid black;
	width:80px;
	height:80px;
	margin-left:10px;
	margin-top:10px;
	
}
.sai4{
	border:2px solid black;
	width:80px;
	height:80px;
	margin-left:10px;
	margin-top:10px;
	
}

.sai5{
	border:2px solid black;
	width:120px;
	height:271px;
	margin-left:110px;
	margin-top:-271px;
	float:left;
	
}
.sai6{
	border:2px solid black;
	width:80px;
	height:80px;
	margin-left:260px;
	margin-top:-271px;
	
}
.sai7{
	border:2px solid black;
	width:80px;
	height:80px;
	margin-left:260px;
	margin-top:11px;
	
}
.sai8{
	border:2px solid black;
	width:80px;
	height:80px;
	margin-left:260px;
	margin-top:12px;
	
}


